<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Jogos - Midas Games</title>
    <link rel="stylesheet" href="..\css\cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2d9b65e52.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <a th:href="@{/}" class="logo">MIDAS TEAM</a>
    <nav>
        <a th:href="@{/cadastro}">Cadastrar Jogos</a>
        <a th:href="@{/listar}">Listar todos</a>
    </nav>
</header>

<main>
    <a href="#" class="back"><i class="fa-solid fa-chevron-left"></i></a>

    <h1>Cadastro de Jogos</h1>

    <form th:action="@{/cadastro}" th:object="${jogo}" method="post" class="form-jogos">
        <input type="text" name="nome" placeholder="Nome" required th:field="*{titulo}">
        <input type="text" name="descricao" placeholder="Descrição" required th:field="*{descricao}">
        <input type="text" name="desenvolvedora" placeholder="Desenvolvedora" required th:field="*{desenvolvedora}">
        <input type="number" step="0.01" name="preco" placeholder="Preço" required th:field="*{preco}">
        <input type="url" name="urlImagem" placeholder="Url Imagem" required th:field="*{urlImagem}">

        <button type="submit">Cadastrar</button>
    </form>
</main>
</body>
</html>
