<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Midas Games - Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div class="logo"><a href="/" style="color: white;">Midas Games</a></div>
    <nav>
        <a href="cadastro">Cadastrar Jogos</a>
        <a href="#">Listar todos</a>
    </nav>
</header>

<hr>

<main>
    <h1>Bem vindo a homepage Admin<br>da<br>Midas Games</h1>

    <div class="buttons">
        <button class="btn">
            <i class="fas fa-plus-circle"><a href="cadastro" style="color: white">Cadastrar Jogos</a></i>
        </button>
        <button class="btn">
            <i class="fas fa-search"></i> Listar Todos
        </button>
    </div>
</main>

</body>
</html>
