<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midas Games Admin</title>
    <link rel="stylesheet" href="..\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2d9b65e52.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <a th:href="@{/}" class="logo">MIDAS TEAM</a>
    <nav>
        <a th:href="@{/cadastro}">Cadastrar Jogos</a>
        <a th:href="@{/listar}">Listar todos</a>
    </nav>
</header>

<main>
    <h1>Seja bem-vindo<br>Admin da Midas Games</h1>

    <div class="buttons">
        <a th:href="@{/cadastro}" class="btn"><i class="fa-solid fa-circle-plus"></i> Cadastrar Jogos</a>

        <div class="divider">
            <i class="fa-solid fa-angles-left"></i>
            <i class="fa-regular fa-bookmark"></i>
            <i class="fa-solid fa-angles-right"></i>
        </div>

        <a th:href="@{/listar}" class="btn"><i class="fa-solid fa-magnifying-glass"></i> Listar Todos</a>
    </div>
</main>
</body>
</html>
